*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
main{
  height: 100vh;
  background-color: #89CFF0;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.9rem;
  
  font-family: "Outfit", serif;
  
  h1{
    font-size: 3rem;
    color: #0a036e;

    @media(min-width: 320px) and (max-width: 435px){
        font-size: 2.5rem;
    }
  }
  
  .inp{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  
    input{
      border: none;
      border-radius: 2rem;
      height: 40px;
      width: 30vw;
      box-shadow: 1px 0 2px 2px #0a036e26;
  
      text-align: center;
      color: #0a036e;
      font-family: "Outfit", serif;
      font-size: 1rem;

      @media(min-width: 320px) and (max-width: 435px){
        font-size: 0.7rem;
        font-weight: 500;
      }
    }
  
    input:focus{
      outline: 0;
    }
  
    input::-webkit-inner-spin-button{
      -webkit-appearance: none;
    }
  }
  
  .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
  
    button{
      height: 3.5rem;
      width: 3.5rem;
      border: none;
      border-radius: 3rem;
      font-size: 16px;

      @media(min-width: 320px) and (max-width: 435px){
        height: 2.8rem;
        width: 2.8rem;
      }
    }
  
    button:hover{
      background-color: #d6d6d6;
      transition: all 0.5s;
    }
  }
  
  h3{
    height: 3rem;
    color: #0a036e;
    font-size: 2rem;

    @media(min-width: 320px) and (max-width: 435px){
        font-size: 1.6rem;
    }
  }
}